{% extends 'career/base.html'%}


{% block content%}
	<h2 class="heading text-capitalize text-center mb-sm-5 mb-4">
           We are hiring!
    </h2>

    <div class="row mb-3">
          <div class="col-lg-6 industry-left reveal-left">
            <p>
            	Please sumbit your resume and information!
            </p>
          </div>

          <div class="col-lg-6 text-center about-right reveal-right">
          	<h2>{{ html }}</h2>
        	<form action = '' method="post">
           	<!-- Very Important csrf Token -->
           		{% csrf_token %}

       			<table>
           			{{ form.as_table }}
       			</table>

       			<input type="submit" name="register">
   			</form>
          </div>
    </div>

{% endblock %}