{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/ea720facc5.js"
      crossorigin="anonymous"
    ></script>
    <!-- Raleway font -->
    <link
      href="https://fonts.googleapis.com/css?family=Raleway"
      rel="stylesheet"
    />
    <link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css" />
    <title>VisionX World</title>
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">
        <img
          src="{% static 'img/logo.png' %}"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt=""
        />
        VisionX
      </a>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}"
              >About<span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://visionx.llc">AI SOLUTIONS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'teams' %}">AI MARKETPLACE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'teams' %}">AI COMMUNITY</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact US</a>
          </li>
          <div id="google_translate_element"></div>
        </ul>
      </div>
    </nav>
    <!-- //navbar -->
    <!-- introduction -->
    <section class="Industry py-5 mt-5">
      <div class="container mb-5 pb-5">
        <h1 class="about-title py-5 lined text-uppercase text-center">
          <p class="text-primary">ABOUT US</p>
        </h1>
        <div class="row mb-3 text-center">
          <div class="col-lg-20 text-center">
            <p class="h2">
              <span class="font-weight-bold text-primary">VisionX</span>(VisionX.world) is an ecosystem for promotixng AI development and landing AI solutions in a de-centralized way. It consists of <span class="font-weight-bold text-primary">AI technology and product development</span> (VisionX.llc), <span class="font-weight-bold text-primary">AI marketplace</span> (AI-mart.org) and <span class="font-weight-bold text-primary">AI community</span> (VisionX.org).
            </p>
            <p></p>
            <p class="h3">
              The VisionX AI ecosystem, unlike traditional operations based on efforts from a single entity or organization, aims to utilize Blockchain technologies to conduct a de-centralized global operation and make AI applications highly efficient and sustainable.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- //introduction -->
     <section class="about">
      <div class="container">
        <h1 class="about-title py-5 lined text-uppercase text-center">
          Our Mission
        </h1>
        <div class="row mb-3">
          <div class="col-lg-6 about-left reveal-left">
            <p>
              We built a bridge for industries and enterprises to realize
              cross-industry collaboration, with the goal of creating
              high-quality AI solutions and leading the way into Industry 4.0.
            </p>
            <p>
              In the future, we are going to be able to serve thousands of
              industries and offer millions of AI solutions with a vast and
              ever-expanding dataset.
            </p>
            <p>
              Starting at defect detection, we are expanding into robot pick and
              place, predictive maintenance, smart voice interaction, supply
              chain and much more.
            </p>
          </div>
          <div class="col-lg-6 text-center about-right reveal-right">
            <img src="{% static 'img/AI.jpg' %}" alt="" class="img-fluid" />
          </div>
        </div>
      </div>
    </section>

    <section class="technology bg-dark-self text-light">
      <div class="container text-center py-5">
        <h1
          class="about-title text-light py-5 lined text-uppercase text-center reveal-bottom"
        >
          Our technology
        </h1>
        <div class="row py-5 align-items-center">
          <div class="col-lg-4 reveal-left ">
            <img src="{% static 'img/icons/c8.png' %}" class="img-fluid" />
          </div>
          <div class="col-lg-8 reveal-right">
            <h1>Dataonomy™️</h1>
            <p class="mb-5">Computational Method</p>
            <h3>Extracts large amounts of Relevant Data</h3>
            <p>Patented by VisionX CTO and Founder Dr. Harry Gu</p>
            <div>
              <a
                class="btn btn-lg btn-outline-primary"
                href="https://www.youtube.com/watch?v=ShCfwBwy5dU&t=2s"
                role="button"
                >Watch Video</a
              >
            </div>
          </div>
        </div>
        <hr class="line ml-0 reveal-left" />
        <div class="row py-5 align-items-center">
          <div class="col-lg-8 reveal-left">
            <h1 class="mb-5">Federated Learning</h1>
            <h4>Collaborative Machine Learning</h4>
            <p>Open Design Decentralized Secure</p>
            <div>
              <a
                class="btn btn-lg btn-outline-primary"
                href="https://www.youtube.com/watch?v=rb5dnW33RHM"
                role="button"
                >Learn More</a
              >
            </div>
          </div>
          <div class="col-lg-4 pt-lg-0 pt-sm-5 reveal-right">
            <img src="{% static 'img/icons/c7.png' %}" class="img-fluid" />
          </div>
        </div>
        <hr class="line mr-0 reveal-right" />
        <div class="row py-5 align-items-center">
          <div class="col-lg-4 reveal-left">
            <img src="{% static 'img/icons/c9.png' %}" class="img-fluid" />
          </div>
          <div class="col-lg-8 reveal-right">
            <h1 class="mb-5">Database</h1>
            <h3>
              The World's Largest Dataset of Surface Images Across Multiple
              Industries
            </h3>
            <p>Database 129K+ Total Meta Dataset 1 million+</p>
            <div>
              <a class="btn btn-lg btn-outline-primary" href="#" role="button"
                >Watch Video</a
              >
            </div>
          </div>
        </div>
        <hr class="line ml-0 reveal-left" />
        <div class="row py-5 align-items-center">
          <div class="col-lg-8 reveal-left">
            <h1 class="mb-5">Blockchain</h1>
            <h4>Decentralized and Distributed Database</h4>
            <ul class="text-left">
              <li>
                Allows rewarding data, model, contributors and business
                transparency
              </li>
              <li>VNX Blockchain is based on Ethereum (ERC-20)</li>
              <li>
                The VisionX (VNX) based AI marketplace is sechedule to launch in
                early 2020
              </li>
            </ul>
            <div>
              <a
                class="btn btn-lg btn-outline-primary"
                href="token.html"
                role="button"
                >Learn More</a
              >
            </div>
          </div>
          <div class="col-lg-4 pt-sm-5 reveal-right">
            <img src="{% static 'img/icons/c10.png' %}" class="img-fluid" />
          </div>
        </div>
      </div>
    </section>

    <!-- //technology -->
    <!-- strategy -->
    <section class="technology bg-light text-dark py-5 reveal-top">
      <div class="container text-center">
        <div class="py-5">
          <h1 class="about-title lined text-uppercase text-center">
            Our Strategies
          </h1>
          <h4>
            To lead Industry 4.0 and High-End Manufacturing
          </h4>
        </div>
        <div class="row mb-5">
          <div class="col-sm box-dark">
            <img src="{% static 'img/icons/c1.png' %}" class="img-fluid-small pb-3" />
            <h2>Robotic Pick & Set</h2>
            <p>Estimated to be worth $47,3 Billion by 2020</p>
          </div>
          <div class="col-sm box-dark">
            <img src="{% static 'img/icons/c2.png' %}" class="img-fluid-small pb-3" />
            <h2>Industry 4.0</h2>
            <p>Anticipated to reach $4 Trillion by 2020</p>
          </div>
          <div class="col-sm box-dark">
            <img src="{% static 'img/icons/c3.png' %}" class="img-fluid-small pb-3" />
            <h2>Visual Inspection</h2>
            <p>Costs China $350 Billion annually</p>
          </div>
        </div>
      </div>
    </section>
    <!-- //strategy -->
    <!-- features -->
    <section
      class="features bg-dark-self text-light text-center reveal-top py-5"
    >
      <div class="container text-center">
        <div class="py-5">
          <h1 class="about-title lined text-uppercase text-center text-light">
            Our Features
          </h1>
        </div>
        <div class="row mb-5">
          <div class="col-sm box-white">
            {% load static %}
            <img src= "{% static 'img/icons/c4.png' %}" class="img-fluid-small" />
            <h2>Fast Integration</h2>
            <p>Quick and ready-to-use enterprise solutions</p>
          </div>
          <div class="col-sm box-white">
            <img src="{% static 'img/icons/c5.png' %}" class="img-fluid-small pb-3" />
            <h4>Customization</h4>
            <p>
              We offer adjusting hardware specification and industry-matching
              databases
            </p>
          </div>
          <div class="col-sm box-white">
            <img src="{% static 'img/icons/c6.png' %}" class="img-fluid-small" />
            <h2>Patent Protection</h2>
            <p>Guaranteed competitive advantage</p>
          </div>
        </div>
      </div>
    </section>
    <!-- //features -->
    <!-- footer -->
    <footer class="newsletter_right pymd-5 py-4" id="footer">
      <div class="container">
        <div class="inner-sec py-md-5 py-3">
          <div class="row mb-md-4 mb-md-3">
            <div class="col-lg-3 col-md-8 social-info text-left">
              <h3 class="tittle1 foot mb-md-5 mb-4 text-white">
                Get in touch
              </h3>
              <p>250 W Tasman Dr</p>
              <p class="my-2">San Jose, CA 95134</p>
              <p class="phone">phone: +1 408-418-6388</p>
              <p class="phone my-2">Fax: +1775 240 9793</p>
              <p class="phone">
                Mail:
                <a href="support@visionx.org">support@visionx.org</a>
              </p>
            </div>
            <div class="col-lg-6 col-md-12 n-right tex-left">
              <h3 class="tittle1 foot mb-md-5 mb-4 text-white">
                Join Us Now!
              </h3>
              <p>
                We are active on Twitter, Telegram, Medium, Reddit, YouTube,
                Instagram, Facebook, LinkedIn, GitHub and Coinmarketcap.
              </p>
              <div class="social-footer">
                <a
                  href="https://twitter.com/visionxglobal"
                  class="fab fa-twitter"
                ></a>
                <a
                  href="https://t.me/VisionXGlobal"
                  class="fab fa-telegram"
                ></a>
                <a
                  href="https://medium.com/@VisionXGlobal"
                  class="fab fa-medium"
                ></a>
                <a
                  href="https://www.reddit.com/r/visionx"
                  class="fab fa-reddit"
                ></a>
                <a
                  href="https://www.youtube.com/channel/UCj0vzmPUv_UF0kO33sZIzvQ"
                  class="fab fa-youtube"
                ></a>
                <a
                  href="https://www.instagram.com/visionx.global/"
                  class="fab fa-instagram"
                ></a>
                <a
                  href="https://www.facebook.com/officialvisionxglobal/"
                  class="fab fa-facebook"
                ></a>
                <a
                  href="https://www.linkedin.com/company/visionxglobal/"
                  class="fab fa-linkedin"
                ></a>
                <a
                  href="https://github.com/DeepBrainChain/DBC-FederatedLearning-Client-VNX"
                  class="fab fa-github"
                ></a>
                <a
                  href="https://coinmarketcap.com/currencies/visionx/"
                  class="fas fa-coins"
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>


    <!-- //footer -->

    <div class="copyright py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <p class="copy-right mt-2">
              Copyright © 2020 VisionX Corporation
            </p>
          </div>
          <div class="col-md-4">
            <p>Powered by VisionX LLC</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>
    <!-- self defined scripts -->
    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/myCounter.js' %}"></script>
    <script src="{% static 'js/animation.js' %}"></script>
    <script src="{% static 'js/preLoader.js' %}"></script>
    <script src="{% static 'js/translate.js' %}"></script>
  </body>
</html>
