{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/ea720facc5.js"
      crossorigin="anonymous"
    ></script>
    <!-- Raleway font -->
    <link
      href="https://fonts.googleapis.com/css?family=Raleway"
      rel="stylesheet"
    />
    <!-- bitcoin script -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css" />
    <title>Homepage</title>
  </head>
  <body>
    <!-- Preloader -->
    <div id="cover"></div>
    <!-- end of preloader -->

    <!-- navbar -->
    <nav
      class="navbar bg-black navbar-expand-md navbar-dark fixed-top reveal-bottom"
    >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">
        <img
          src="{% static 'img/logo.png' %}"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt=""
        />
        VisionX
      </a>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Homepage <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'industry' %}">Industrial Application</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'teams' %}">Our Teams</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              AI Marketplace
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'token' %}">VNX Token</a>
              <a class="dropdown-item" href="http://vnx-mart.org">GPU Rent</a>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/register">Register</a>
          </li>

          <div id="google_translate_element"></div>
        </ul>
      </div>
    </nav>
    <!-- //navbar -->
    <!-- slides -->
    <section class="slides">
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#carouselExampleIndicators"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below 'img/bg/bg1.jpg'-->
          <div
            class="carousel-item active"
            style="background-image: url('{% static 'img/bg/bg1.jpg'%}')"
          >
            <div class="carousel-caption mb-5 reveal-bottom text-center">
              <h1 class="mb-5 display-2 font-weight-bold">VisionX</h1>
              <h2 class="my-5">
                Redefining AI for Business
              </h2>

              <a
                class="btn btn-primary mb-5 mr-3"
                href="https://s3-us-west-1.amazonaws.com/visionx.org/VisionXwhitepaper1025-Engv2-ghs-no.pdf"
                role="button"
                >White Paper</a
              >
              <a
                class="btn btn-outline-light mb-5"
                href="contact.html"
                role="button"
                >Contact Us</a
              >
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div
            class="carousel-item"
            style="background-image: url('{% static 'img/bg/bg2.jpg' %}')"
          >
            <div class="carousel-caption text-center">
              <h1 class="mb-5 heading-long font-weight-bold">
                Quick Introduction
              </h1>
              <h4 class="mb-2">
                Watch this 90 sec video to understand what's VisionX
              </h4>
              <iframe
                class="mb-5 pb-5"
                src="https://www.youtube.com/embed/p1qUdfyrR-I"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div
            class="carousel-item"
            style="background-image: url('{% static 'img/bg/bg3.jpg' %}')"
          >
            <div class="carousel-caption mb-5 pb-5 text-center">
              <h1 class="mb-5 font-weight-bold heading-long">Join Us Now!</h1>
              <h4 class="mb-5">
                We are active on Twitter, Telegram, Medium, Reddit, YouTube,
                Instagram, Facebook, LinkedIn, GitHub and Coinmarketcap.
              </h4>
              <ul class="social mb-5">
                <li>
                  <a
                    href="https://twitter.com/visionxglobal"
                    class="fab fa-twitter"
                  ></a>
                </li>
                <li>
                  <a
                    href="https://t.me/VisionXGlobal"
                    class="fab fa-telegram"
                  ></a>
                </li>
                <li>
                  <a
                    href="https://medium.com/@VisionXGlobal"
                    class="fab fa-medium"
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.reddit.com/r/visionx"
                    class="fab fa-reddit"
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.youtube.com/channel/UCj0vzmPUv_UF0kO33sZIzvQ"
                    class="fab fa-youtube"
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.instagram.com/visionx.global/"
                    class="fab fa-instagram"
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.facebook.com/officialvisionxglobal/"
                    class="fab fa-facebook"
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.linkedin.com/company/visionxglobal/"
                    class="fab fa-linkedin"
                  ></a>
                </li>
                <li>
                  <a
                    href="https://github.com/DeepBrainChain/DBC-FederatedLearning-Client-VNX"
                    class="fab fa-github"
                  ></a>
                </li>
                <li>
                  <a
                    href="https://coinmarketcap.com/currencies/visionx/"
                    class="fas fa-coins"
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </section>
    <!-- //slides -->

    <!-- Parterners -->
    <section class="container">
      <div class="row press align-items-center text-center reveal-top">
        <div class="press-item col-lg-2 col-sm-4 col-4">
          <img class="img-fluid-med" src="{% static 'img/parterners/p1.jpg' %}" alt="" />
        </div>
        <div class="press-item col-lg-2 col-sm-4 col-4">
          <img class="img-fluid-med" src="{% static 'img/parterners/p2.jpg' %}" alt="" />
        </div>
        <div class="press-item col-lg-2 col-sm-4 col-4">
          <img class="img-fluid-med" src="{% static 'img/parterners/p3.jpg' %}" alt="" />
        </div>
        <div class="press-item col-lg-2 col-sm-4 col-4">
          <img class="img-fluid-med" src="{% static 'img/parterners/p4.jpg' %}" alt="" />
        </div>
        <div class="press-item col-lg-2 col-sm-4 col-4">
          <img class="img-fluid-med" src="{% static 'img/parterners/p5.jpg' %}" alt="" />
        </div>
        <div class="press-item col-lg-2 col-sm-4 col-4">
          <img class="img-fluid-med" src="{% static 'img/parterners/p6.jpg' %}" alt="" />
        </div>
      </div>
    </section>
    <!-- Parterners -->
    <!-- about -->
    <section class="about">
      <div class="container">
        <h1 class="about-title py-5 lined text-uppercase text-center">
          Our Mission
        </h1>
        <div class="row mb-3">
          <div class="col-lg-6 about-left reveal-left">
            <p>
              We built a bridge for industries and enterprises to realize
              cross-industry collaboration, with the goal of creating
              high-quality AI solutions and leading the way into Industry 4.0.
            </p>
            <p>
              In the future, we are going to be able to serve thousands of
              industries and offer millions of AI solutions with a vast and
              ever-expanding dataset.
            </p>
            <p>
              Starting at defect detection, we are expanding into robot pick and
              place, predictive maintenance, smart voice interaction, supply
              chain and much more.
            </p>
          </div>
          <div class="col-lg-6 text-center about-right reveal-right">
            <img src="{% static 'img/AI.jpg' %}" alt="" class="img-fluid" />
          </div>
        </div>
      </div>
    </section>
    <!-- //about -->
    <!-- stats -->
    <!--
      <section class="stats my-5 reveal-top">
        <div class="container">
          <div class="row stat-box text-center">
            <div class="col-sm-3 col-6 stats_info">
              <span class="fa fa-briefcase"></span>
              <p class="counter">16</p>
              <h4>Years of Experience</h4>
            </div>
            <div class="col-sm-3 col-6 stats_info">
              <span class="fa fa-user"></span>
              <p class="counter">230</p>
              <h4>Our Team Members</h4>
            </div>
            <div class="col-sm-3 col-6 stats_info">
              <span class="fa fa-smile-o"></span>
              <p class="counter">110</p>
              <h4>Our Cooperations</h4>
            </div>
            <div class="col-sm-3 col-6 stats_info">
              <span class="fa fa-users"></span>
              <p class="counter">1045</p>
              <h4>Satisfied Customers</h4>
            </div>
          </div>
        </div>
      </section>
    -->
    <!-- //stats -->
    <!-- content -->
    <!-- technology img/icons/c8.png-->
    <section class="technology bg-dark-self text-light">
      <div class="container text-center py-5">
        <h1
          class="about-title text-light py-5 lined text-uppercase text-center reveal-bottom"
        >
          Our technology
        </h1>
        <div class="row py-5 align-items-center">
          <div class="col-lg-4 reveal-left ">
            <img src="{% static 'img/icons/c8.png' %}" class="img-fluid" />
          </div>
          <div class="col-lg-8 reveal-right">
            <h1>Dataonomy™️</h1>
            <p class="mb-5">Computational Method</p>
            <h3>Extracts large amounts of Relevant Data</h3>
            <p>Patented by VisionX CTO and Founder Dr. Harry Gu</p>
            <div>
              <a
                class="btn btn-lg btn-outline-primary"
                href="https://www.youtube.com/watch?v=ShCfwBwy5dU&t=2s"
                role="button"
                >Watch Video</a
              >
            </div>
          </div>
        </div>
        <hr class="line ml-0 reveal-left" />
        <div class="row py-5 align-items-center">
          <div class="col-lg-8 reveal-left">
            <h1 class="mb-5">Federated Learning</h1>
            <h4>Collaborative Machine Learning</h4>
            <p>Open Design Decentralized Secure</p>
            <div>
              <a
                class="btn btn-lg btn-outline-primary"
                href="https://www.youtube.com/watch?v=rb5dnW33RHM"
                role="button"
                >Learn More</a
              >
            </div>
          </div>
          <div class="col-lg-4 pt-lg-0 pt-sm-5 reveal-right">
            <img src="{% static 'img/icons/c7.png' %}" class="img-fluid" />
          </div>
        </div>
        <hr class="line mr-0 reveal-right" />
        <div class="row py-5 align-items-center">
          <div class="col-lg-4 reveal-left">
            <img src="{% static 'img/icons/c9.png' %}" class="img-fluid" />
          </div>
          <div class="col-lg-8 reveal-right">
            <h1 class="mb-5">Database</h1>
            <h3>
              The World's Largest Dataset of Surface Images Across Multiple
              Industries
            </h3>
            <p>Database 129K+ Total Meta Dataset 1 million+</p>
            <div>
              <a class="btn btn-lg btn-outline-primary" href="#" role="button"
                >Watch Video</a
              >
            </div>
          </div>
        </div>
        <hr class="line ml-0 reveal-left" />
        <div class="row py-5 align-items-center">
          <div class="col-lg-8 reveal-left">
            <h1 class="mb-5">Blockchain</h1>
            <h4>Decentralized and Distributed Database</h4>
            <ul class="text-left">
              <li>
                Allows rewarding data, model, contributors and business
                transparency
              </li>
              <li>VNX Blockchain is based on Ethereum (ERC-20)</li>
              <li>
                The VisionX (VNX) based AI marketplace is sechedule to launch in
                early 2020
              </li>
            </ul>
            <div>
              <a
                class="btn btn-lg btn-outline-primary"
                href="token.html"
                role="button"
                >Learn More</a
              >
            </div>
          </div>
          <div class="col-lg-4 pt-sm-5 reveal-right">
            <img src="{% static 'img/icons/c10.png' %}" class="img-fluid" />
          </div>
        </div>
      </div>
    </section>
    <!-- //technology -->
    <!-- strategy -->
    <section class="technology bg-light text-dark py-5 reveal-top">
      <div class="container text-center">
        <div class="py-5">
          <h1 class="about-title lined text-uppercase text-center">
            Our Strategies
          </h1>
          <h4>
            To lead Industry 4.0 and High-End Manufacturing
          </h4>
        </div>
        <div class="row mb-5">
          <div class="col-sm box-dark">
            <img src="{% static 'img/icons/c1.png' %}" class="img-fluid-small pb-3" />
            <h2>Robotic Pick & Set</h2>
            <p>Estimated to be worth $47,3 Billion by 2020</p>
          </div>
          <div class="col-sm box-dark">
            <img src="{% static 'img/icons/c2.png' %}" class="img-fluid-small pb-3" />
            <h2>Industry 4.0</h2>
            <p>Anticipated to reach $4 Trillion by 2020</p>
          </div>
          <div class="col-sm box-dark">
            <img src="{% static 'img/icons/c3.png' %}" class="img-fluid-small pb-3" />
            <h2>Visual Inspection</h2>
            <p>Costs China $350 Billion annually</p>
          </div>
        </div>
      </div>
    </section>
    <!-- //strategy -->
    <!-- features -->
    <section
      class="features bg-dark-self text-light text-center reveal-top py-5"
    >
      <div class="container text-center">
        <div class="py-5">
          <h1 class="about-title lined text-uppercase text-center text-light">
            Our Features
          </h1>
        </div>
        <div class="row mb-5">
          <div class="col-sm box-white">
            {% load static %}
            <img src= "{% static 'img/icons/c4.png' %}" class="img-fluid-small" />
            <h2>Fast Integration</h2>
            <p>Quick and ready-to-use enterprise solutions</p>
          </div>
          <div class="col-sm box-white">
            <img src="{% static 'img/icons/c5.png' %}" class="img-fluid-small pb-3" />
            <h4>Customization</h4>
            <p>
              We offer adjusting hardware specification and industry-matching
              databases
            </p>
          </div>
          <div class="col-sm box-white">
            <img src="{% static 'img/icons/c6.png' %}" class="img-fluid-small" />
            <h2>Patent Protection</h2>
            <p>Guaranteed competitive advantage</p>
          </div>
        </div>
      </div>
    </section>
    <!-- //features -->

    <!-- bitcoin -->
    <section
      class="bitcoin bg-light text-dark text-center reveal-top py-5"
    >
      <div class="container text-center">
        <div class="py-5">
          <h1 class="about-title lined text-uppercase text-center">
            Current Bitcoin Price
          </h1>
        </div>
        <div class="row mb-5">
          <div class="container text-center">
            <div id="graph1"></div>
          </div>
          
          <div class="container text-center">
            <div id="graph2"></div>
          </div>
        </div>
      </div>
    </section>

    <!-- footer -->
    <footer class="newsletter_right pymd-5 py-4" id="footer">
      <div class="container text-center  text-white">
        <div class="py-md-5 py-5">
          <div class="row mb-md-4">
            <div class="col-lg-3 col-md-6 py-3">
              <h3 class="mb-md-5 mb-4">
                Get in touch
              </h3>
              <p>250 W Tasman Dr <br />San Jose, CA 95134</p>
              <p class="phone">
                phone: +1 408-418-6388 <br />Fax: +1775 240 9793
              </p>
              <p class="phone">
                Mail:
                <a href="support@visionx.org">support@visionx.org</a>
              </p>
            </div>
            <div class="col-lg-3 col-md-6 py-3">
              <h3 class="mb-md-5 mb-4">About Us</h3>
              <p>
                VisionX is a cross-industry high-performance AI collaboration
                platform.
              </p>
              <p>
                A sustainable, blockchain based incentive ecosystem to boost the
                best AI solutions & datasets across each industry AND for each
                customer.
              </p>
            </div>
            <div class="col-lg-6 col-md-12 py-3">
              <h3 class="mb-md-5 mb-4">
                Join Us Now!
              </h3>
              <p>
                We are active on Twitter, Telegram, Medium, Reddit, YouTube,
                Instagram, Facebook, LinkedIn, GitHub and Coinmarketcap.
              </p>
              <ul class="social-footer">
                <li>
                  <a
                    href="https://twitter.com/visionxglobal"
                    class="fab fa-twitter"
                  ></a>
                </li>
                <li>
                  <a
                    href="https://t.me/VisionXGlobal"
                    class="fab fa-telegram"
                  ></a>
                </li>
                <li>
                  <a
                    href="https://medium.com/@VisionXGlobal"
                    class="fab fa-medium"
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.reddit.com/r/visionx"
                    class="fab fa-reddit"
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.youtube.com/channel/UCj0vzmPUv_UF0kO33sZIzvQ"
                    class="fab fa-youtube"
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.instagram.com/visionx.global/"
                    class="fab fa-instagram"
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.facebook.com/officialvisionxglobal/"
                    class="fab fa-facebook"
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.linkedin.com/company/visionxglobal/"
                    class="fab fa-linkedin"
                  ></a>
                </li>
                <li>
                  <a
                    href="https://github.com/DeepBrainChain/DBC-FederatedLearning-Client-VNX"
                    class="fab fa-github"
                  ></a>
                </li>
                <li>
                  <a
                    href="https://coinmarketcap.com/currencies/visionx/"
                    class="fas fa-coins"
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- //footer -->

    <div class="copyright py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <p class="copy-right mt-2">
              Copyright © 2020 VisionX LLC
            </p>
          </div>
          <div class="col-md-4">
            <p>Powered by VisionX LLC</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>

    <!-- self defined scripts -->
    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/myCounter.js' %}"></script>
    <script src="{% static 'js/animation.js' %}"></script>
    <script src="{% static 'js/preLoader.js' %}"></script>
    <script src="{% static 'js/translate.js' %}"></script>
    <script>

    //https://api.coindesk.com/v1/bpi/currentprice.json
    //REQUEST DATA FROM API
    function rand() {
      return Math.random();
    }
    //get historic data for the perivous 31 days
    var previousPrice  = [];

    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();
    today = yyyy + '-' + mm + '-' + dd;
    if (mm == "01"){
      var lastMondaySameDay = yyyy + '-' + (12) + '-' + dd;
    }
    else{
      var lastMon = String (mm -1 ).padStart(2,'0');
      var lastMonSameDay = yyyy + '-' + lastMon + '-' + dd;
    }

    var days = new Array()
    function getPreviousDataDate(days){
      fetch('https://api.coindesk.com/v1/bpi/historical/close.json?start=' + lastMonSameDay + '&end=' +today)
      .then(response => {
        return response.json()
      }).then(data => {
        for (let dataOfEachDay in data.bpi) {
          days.push(dataOfEachDay)
        }
        console.log(days);
        return days;
      })
      return days;
    }
    days = getPreviousDataDate(days)
    var previousMonthPrice=new Array();
    function getPreviousDataPrice(previousMonthPrice){
      fetch('https://api.coindesk.com/v1/bpi/historical/close.json?start=' + lastMonSameDay + '&end=' +today)
      .then(response => {
        return response.json()
      })
      .then(data => {
        for (let dataOfEachDay in data.bpi) {
          previousMonthPrice.push(data.bpi[dataOfEachDay]);
        }

        console.log(previousMonthPrice)
        return previousMonthPrice;
      })

    }
    previousMonthPrice = getPreviousDataPrice(previousMonthPrice)

    var currentPrice ;
    function getData(){
    fetch('https://api.coindesk.com/v1/bpi/currentprice.json')
      .then(response => {
        return response.json()
      })
      .then(data => {
        currentPrice = data.bpi.USD.rate_float;
      })
      return currentPrice;
    }



    //PLOT Section
    var xmlhttp = new XMLHttpRequest();
    var url = "https://api.coindesk.com/v1/bpi/currentprice.json";

    //plot historical data
    var data = [{
      x: days,
      y: previousMonthPrice,
      type: 'scatter'
    }];

    var layout = {
      title: 'Price Monthly Trend',
      xaxis: {
        title: 'Days',
        showgrid: false,
        zeroline: false
      },
      yaxis: {
        title: 'Price',
        showline: false
      }
    };
    Plotly.newPlot("graph2", data, layout);

    // var historicalData = [{
    //   x: [getPreviousDataDate()],
    //   y: [getPreviousDataPrice()],
    //   mode: 'lines',
    //   line: {color: '#80CAF6'}
    // }]
    // Plotly.plot('graph2', historicalData);



    var time = new Date();

    var data = [{
      x: [time],
      y: [getData()],
      mode: 'lines',
      line: {color: '#80CAF6'}
    }]


    Plotly.plot('graph1', data);

    //update
    var cnt = 0;
    var interval = setInterval(function() {

      var time = new Date();

      var update = {
      x:  [[time]],
      y: [[getData()]]
      }

      Plotly.extendTraces('graph1', update, [0])

      if(cnt === 100) clearInterval(interval);
    }, 1000);

  </script>
  </body>
</html>
