<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/ea720facc5.js"
      crossorigin="anonymous"
    ></script>
    <!-- Raleway font -->
    <link
      href="https://fonts.googleapis.com/css?family=Raleway"
      rel="stylesheet"
    />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <title>Industry</title>
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="index.html">
        <img
          src="img/logo.png"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt=""
        />
        VisionX
      </a>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html"
              >Homepage <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Industry</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="teams.html">Teams</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              AI Marketplace
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="token.html">VNX Token</a>
              <a class="dropdown-item" href="http://vnx-mart.org">GPU Rent</a>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
          <div id="google_translate_element"></div>
        </ul>
      </div>
    </nav>
    <!-- //navbar -->
    <!-- introduction -->
    <section class="Industry py-5 mt-5">
      <div class="container mb-5 pb-5">
        <h1 class="about-title py-5 lined text-uppercase text-center">
          Enable AI X Industry
        </h1>
        <div class="row mb-3">
          <div class="col-lg-6 industry-left reveal-left">
            <p>
              VisionX establishes a vision of “X”, providing a sustainable and
              incentive-driven blockchain based ecosystem that bridges companies
              across different market segment of industries, and enable data and
              AI solution collaboration across industries.
            </p>
            <p>
              This tokenized incentive system including future profit sharing
              will reward contributors for the real value of their
              contributions. For example, contributions such as data collection,
              data cleansing, data annotation, data relevancy discovery, AI
              dataset building, AI solution building and AI solution sales will
              all be rewarded by tokens and record on blockchain.
            </p>
            <p>
              Leveraging our ecosystem, companies and organizations can
              collaborate for AI solutions addressing common needs and yet
              obtain customizable solutions for diverse situations beyond a
              stand alone solution.
            </p>
          </div>
          <div class="col-lg-6 text-center about-right reveal-right">
            <img src="img/Industry.png" alt="" class="img-fluid" />
          </div>
        </div>
      </div>
      <!-- industries -->
      <h1 class="about-title py-5 lined text-uppercase text-center mt-5">
        Visual Defect Inspection X Industries
      </h1>
      <!-- banner-top -->
      <section class="bg-dark py-5">
        <div class="banner-top row">
          <div class="col-lg-12">
            <div class="container">
              <p class="mt-4">
                VisionX provides a meta AI solution for visual abnormality
                inspection across industries. Currently there are 60 million
                employees working on visual inspection in China alone, which
                cost $350 billion USD a year. And the average accuracy rate in
                visual defect inspection is about 60-70 percent with traditional
                method. The current addressable market for visual abnormality
                inspection covers across a variety of industries, including but
                not limited to consumer electronics, mining, automobile,
                aviation, medical supply, steel, furniture, textiles, processed
                food and so forth. Our meta dataset for these industries
                currently contains over a million images to train the algorithm
                to detect abnormalities like scratches, dents, pin holes, fiber
                patterns, broken seals, or aging components.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- //banner-top-->
      <!-- banner-bottom1 -->
      <section class="banner-bottom" id="news">
        <div class="banner-top row middle-grids">
          <div class="col-lg-4 advantage-grid-info1">
            <div class="advantage_left2 text-center"></div>
          </div>
          <div class="col-lg-8 advantage-grid-info">
            <div class="advantage_left">
              <h3>Consumer Electronics</h3>
              <p class="mt-4">
                Defects on parts & finished products, scratches, dent, pin holes
                etc.
                <br />
                Missing parts or accessories Welding, PCB quality
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- //banner-bottom1 -->
      <!-- banner-bottom2 -->
      <section class="banner-bottom temp-btm">
        <div class="banner-top row middle-grids">
          <div class="col-lg-8 advantage-grid-info">
            <div class="advantage_left">
              <h3>Textile/Fashion</h3>
              <p class="mt-4">
                Scratch in textile and pin detection in zip.
                <br />
                Fiber patterns in weaving, knitting, finishing, printing.
              </p>
            </div>
          </div>
          <div class="col-lg-4 advantage-grid-info1 second">
            <div class="advantage_left2 text-center"></div>
          </div>
        </div>
      </section>
      <!-- //banner-bottom2 -->
      <!-- banner-bottom3 -->
      <section class="banner-bottom">
        <div class="banner-top row middle-grids">
          <div class="col-lg-4 advantage-grid-info1 third">
            <div class="advantage_left2 text-center"></div>
          </div>
          <div class="col-lg-8 advantage-grid-info">
            <div class="advantage_left">
              <h3>Furniture/Steel</h3>
              <p class="mt-4">
                Various materials: Steel, wood, plastic etc.
                <br />
                Scratches, crazing, inclusion, patches, pitted surface,
                rolled-in scale etc.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- //banner-bottom3 -->
      <!-- banner-bottom4 -->
      <section class="banner-bottom temp-btm">
        <div class="banner-top row middle-grids">
          <div class="col-lg-8 advantage-grid-info">
            <div class="advantage_left">
              <h3>Mining/Aviation</h3>
              <p class="mt-4">
                Mining roof/wall leaks, transport belt cracks.
                <br />
                Aviation, metal, steel, belt aging, cracks.
                <br />
                Tech support/ predictive maintenance.
              </p>
            </div>
          </div>
          <div class="col-lg-4 advantage-grid-info1 fourth">
            <div class="advantage_left2 text-center"></div>
          </div>
        </div>
      </section>
      <!-- //banner-bottom4 -->
      <!-- banner-bottom5 -->
      <section class="banner-bottom" id="news">
        <div class="banner-top row middle-grids">
          <div class="col-lg-4 advantage-grid-info1 fifth">
            <div class="advantage_left2 text-center"></div>
          </div>
          <div class="col-lg-8 advantage-grid-info">
            <div class="advantage_left">
              <h3>Automobile</h3>
              <p class="mt-4">
                Defects on parts & finished products.
                <br />
                Scratch defects on metal gaskets for safety belts.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- //banner-bottom5 -->
      <!-- banner-bottom6 -->
      <section class="banner-bottom temp-btm">
        <div class="banner-top row middle-grids">
          <div class="col-lg-8 advantage-grid-info">
            <div class="advantage_left">
              <h3>Display</h3>
              <p class="mt-4">
                LED, LCD, solar panel scratches, black pixels Solar Panel.
                <br />
                Internal bubbles in a rubber seal.
              </p>
            </div>
          </div>
          <div class="col-lg-4 advantage-grid-info1 sixth">
            <div class="advantage_left2 text-center"></div>
          </div>
        </div>
      </section>
      <!-- //banner-bottom6 -->
      <!-- banner-end -->
      <section class="bg-dark py-5">
        <div class="banner-top row">
          <div class="col-lg-12">
            <div class="container">
              <p class="mt-4">
                By using AI solution with the existing dataset, VisionX will
                decrease the inspection cost significantly, and increase the
                accuracy rate to 95 percent. The similar AI solutions will apply
                to other areas such as robotic pick-and-place, predictive
                maintenance, data curation, and eventually any AI need across
                industries.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- //banner-end-->
      <!-- //industries -->
      <!-- software -->
      <section class="Industry py-5 mt-5">
        <div class="container">
          <h1 class="about-title py-5 lined text-uppercase text-center">
            VNX - I VNX -II VNX -III
          </h1>
          <div class="row mb-3">
            <div class="col-lg-8 industry-left reveal-left">
              <h1>The World’s Leading Quality Inspection Software Package</h1>
              <p>
                Best on the Global Market in terms of
              </p>
              <ul>
                <li>Technology</li>
                <li>Effectiveness</li>
                <li>Quality-price ratio</li>
              </ul>
            </div>
            <div class="col-lg-4 text-center about-right reveal-right">
              <img src="img/icons/c11.png" alt="" class="img-fluid" />
            </div>
          </div>
        </div>
      </section>
      <!-- //software -->
    </section>
    <!-- //introduction -->

    <!-- footer -->
    <footer class="newsletter_right pymd-5 py-4" id="footer">
      <div class="container">
        <div class="inner-sec py-md-5 py-3">
          <div class="row mb-md-4 mb-md-3">
            <div class="col-lg-3 col-md-6 social-info text-left">
              <h3 class="tittle1 foot mb-md-5 mb-4 text-white">
                Get in touch
              </h3>
              <p>250 W Tasman Dr</p>
              <p class="my-2">San Jose, CA 95134</p>
              <p class="phone">phone: +1775 240 9793</p>
              <p class="phone my-2">Fax: +1775 240 9793</p>
              <p class="phone">
                Mail:
                <a href="support@visionx.org">support@visionx.org</a>
              </p>
            </div>
            <div class="col-lg-3 col-md-6 social-info text-left">
              <h3 class="tittle1 foot mb-md-5 mb-4 text-white">About Us</h3>
              <p>
                VisionX is a cross-industry high-performance AI collaboration
                platform.
              </p>
              <p>
                A sustainable, blockchain based incentive ecosystem to boost the
                best AI solutions & datasets across each industry AND for each
                customer.
              </p>
            </div>
            <div class="col-lg-6 col-md-12 n-right tex-left">
              <h3 class="tittle1 foot mb-md-5 mb-4 text-white">
                Join Us Now!
              </h3>
              <p>
                We are active on Twitter, Telegram, Medium, Reddit, YouTube,
                Instagram, Facebook, LinkedIn, GitHub and Coinmarketcap.
              </p>
              <div class="social-footer">
                <a
                  href="https://twitter.com/visionxglobal"
                  class="fab fa-twitter"
                ></a>
                <a
                  href="https://t.me/VisionXGlobal"
                  class="fab fa-telegram"
                ></a>
                <a
                  href="https://medium.com/@VisionXGlobal"
                  class="fab fa-medium"
                ></a>
                <a
                  href="https://www.reddit.com/r/visionx"
                  class="fab fa-reddit"
                ></a>
                <a
                  href="https://www.youtube.com/channel/UCj0vzmPUv_UF0kO33sZIzvQ"
                  class="fab fa-youtube"
                ></a>
                <a
                  href="https://www.instagram.com/visionx.global/"
                  class="fab fa-instagram"
                ></a>
                <a
                  href="https://www.facebook.com/officialvisionxglobal/"
                  class="fab fa-facebook"
                ></a>
                <a
                  href="https://www.linkedin.com/company/visionxglobal/"
                  class="fab fa-linkedin"
                ></a>
                <a
                  href="https://github.com/DeepBrainChain/DBC-FederatedLearning-Client-VNX"
                  class="fab fa-github"
                ></a>
                <a
                  href="https://coinmarketcap.com/currencies/visionx/"
                  class="fas fa-coins"
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- //footer -->

    <div class="copyright py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <p class="copy-right mt-2">
              Copyright © 2019 VisionX Corporation
            </p>
          </div>
          <div class="col-md-4">
            <p>Powered by VisionX Corporation</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>
    <!-- self defined scripts -->
    <script src="js/animation.js"></script>
    <script src="js/translate.js"></script>
  </body>
</html>
