{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/ea720facc5.js"
      crossorigin="anonymous"
    ></script>
    <!-- Raleway font -->
    <link
      href="https://fonts.googleapis.com/css?family=Raleway"
      rel="stylesheet"
    />
    <link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css" />
    <title>Teams</title>
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">
        <img
          src= "{% static 'img/logo.png' %}"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt=""
        />
        VisionX
      </a>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}"
              >Homepage <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'industry' %}">Industry</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'teams' %}">Teams</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              AI Marketplace
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'token' %}">VNX Token</a>
              <a class="dropdown-item" href="http://vnx-mart.org">GPU Rent</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>
          <div id="google_translate_element"></div>
        </ul>
      </div>
    </nav>
    <!-- //navbar -->
    <!-- teams -->
    <section class="teams bg-light text-dark py-5 mt-5">
      <h1 class="about-title lined text-uppercase text-center py-5">
        Our Teams
      </h1>
      <!-- Executives -->
      <div class="container text-center">
        <h1 class="display-4 text-lg-left">Executives</h1>
        <div class="row reveal-bottom">
          <div class="col-sm my-5">
            <img src="{% static 'img/teams/t1.png' %}" class="img-fluid pb-2" />
            <div class="overlay">
              <p>
                Dr. Gu has over 30 years of RD and management experiences with
                AI, Vision and Robotics in Panasonic, Konica-Minolta, Midea
                Group etc. Dr. Gu as initial tech member participated in three
                AI Startups. He is the first author of more than 30 research
                papers and holds 20 granted patents (and 19 in pending). Harry
                holds Ph.D. degree from Osaka University and was working as
                professor and researcher in Southeast Univ., Osaka Univ., USC,
                UNR, RPI and Stanford.
              </p>
            </div>
            <h4>DR. HARRY GU</h4>
            <h6>Founder</h6>
          </div>
          <div class="col-sm my-5">
            <img src="{% static 'img/teams/t2.png' %}" class="img-fluid pb-2" />
            <div class="overlay">
              <p>
                A former president of AMD China Sales, President of Advantech
                China Sales;, Established long-term cooperation with AMD,
                NVIDIA, Asus, Dalian United Group, Advantech, and Fanyu.
              </p>
            </div>
            <h4>JOHNNY MA</h4>
            <h6>Chief Marketing Officer</h6>
          </div>
          <div class="col-sm my-5">
            <img src="{% static 'img/teams/t4.png' %}" class="img-fluid pb-2" />
            <div class="overlay">
              <p>
                Mr.Nie Cong graduated from the Department of Electronic
                Engineering of Southeast University in 1981. He is a
                professional practitioner of the first generation of stock
                securities and futures investment (red vest). In 1997, he joined
                the International Association of E-Commerce and became a
                registered applicant. E-Commerce; in 2006, he became the first
                author of Eric Consulting’s e-commerce channel; part of the
                Internet’s first-generation practice participants; dedicated to
                e-commerce services and providing solutions for fifteen years,
                is the earliest Internet e-commerce expert , with rich Internet
                basic theory knowledge and forward-looking practical integration
                experience, providing e-commerce solutions for dozens of large
                and small-scale attribute enterprises, senior research and
                application independent scholars; currently engaged in AI+
                blockchain technology application research and focused on
                application technology. Concurrently, he was invited to be the
                honorary expert of the Expert Committee of Nanjing Blockchain
                Alliance Training College. In March 2019, he became the vice
                president of the AI+ Blockchain Professional Committee of
                Jiangsu Science and Technology Innovation Association. Under the
                leadership of Mr. Nie, we have created a marketing team and
                added new channels for media such as Weibo and Zhiho. We expect
                to extend VNX to the Chinese community and land more AI
                solutions.
              </p>
            </div>
            <h4>NIE CONG</h4>
            <h6>Chief Operating Officer</h6>
          </div>
        </div>
      </div>
      <!-- Executives -->
      <!-- Foundation -->
      <div class="container text-center">
        <h1 class="display-4 text-lg-left">Foundation</h1>
        <div class="row reveal-bottom">
          <div class="col-sm my-5">
            <img src="{% static 'img/teams/t5.png' %}" class="img-fluid pb-2" />
            <div class="overlay">
              <p>
                Chuanfeng Lee is the co-founder and CMO of DeepBrain Chain and
                Yi Yu Intelligent Technology(Shanghai) Co.,Ltd. He is also a
                member of China Audio Industry Association and one of the first
                entrepreneurs in the field of AI in China. He started to study
                blockchain in 2015 and co-founded DeepBrain Chain in 2017. In
                the meantime, he successfully invested in several blockchain
                projects.
              </p>
            </div>
            <h4>CHUANFENG LEE</h4>
            <h6>President of Foundation</h6>
          </div>
          <div class="col-sm my-5">
            <img src="{% static 'img/teams/t6.png' %}" class="img-fluid pb-2" />
            <div class="overlay">
              <p>
                Feng He is the CEO of DeepBrain Chain. He was enrolled in a
                Ph.D. program at East China Normal University and Chinese
                Academy of Sciences. As an artificial intelligence expert, he
                holds the title of Innovation Character of the Shanghai computer
                industry. He started research on bitcoin and blockchain
                technology in 2014.
              </p>
            </div>
            <h4>YONG HE</h4>
            <h6>Foundation Advisor</h6>
          </div>
          <div class="col-sm my-5">
            <img src="{% static 'img/teams/t7.png' %}" class="img-fluid pb-2" />
            <div class="overlay">
              <p>
                As a “deep tech” investor he has led multiple successful
                investments in the area of IoT, artificial intelligence,
                augmented reality and Automotive in the last decade in Europe,
                US and China. Within RBVC, Hongquan is responsible for the
                search cluster "automation and electrification" which includes
                sensors, semiconductors, MEMS, electronics robotics and
                Autonomous & Cognitive systems. He has collected broad
                experiences in the automotive and electronic industries.
              </p>
            </div>
            <h5>DR. HONGQUAN JIANG</h5>
            <h6>Foundation Advisor</h6>
          </div>
          <div class="col-sm my-5">
            <img src="{% static 'img/teams/t8.png' %}" class="img-fluid pb-2" />
            <div class="overlay">
              <p>
                Kang-Hyun has served as the Professor in charge of Intelligent
                Systems Laboratory and vice dean of e-Vehicle Graduate Institute
                during 2007-2009 and continuously the vice dean of College of
                Engineering during 2009-2011 in University of Ulsan, Korea. He
                has been served as a director of many societies: ICROS
                (Institute of Control, Robotics and Systems, Korea), KMMS(Korean
                Multimedia Society), SICE(Society of Instrumentation and Control
                Engineers, Japan), as well as IEEE IES TC-HF(Human Factors
                Technical Committee) Chair. He is currently contributing himself
                as an editor for a few renowned international journals, such as
                IEEE IES TII (Trans. on Industrial Informatics), etc.
              </p>
            </div>
            <h5>DR. KANG-HYUN JO</h5>
            <h6>Foundation Advisor</h6>
          </div>
        </div>
      </div>
      <!-- Foundation -->
      <!-- Engineers -->
      <div class="container text-center">
        <h1 class="display-4 text-lg-left">Engineers</h1>
        <div class="row">
          <div class="col-lg-3 my-5">
            <img src="{% static 'img/teams/t9.png' %}" class="img-fluid pb-2" />
            <div class="overlay">
              <p>
                Hua has 18 years experience in AI, high performance computing,
                chip design and software development with the companies like
                Microsoft, Freescale and Midea Group. He has strong expertise in
                AI platform, computer vision, deep learning algorithms for
                various applications, and system architecture with software and
                hardware. His team won #2 and #3 respectively in 2 global AI
                competitions in CVPR 2018.
              </p>
            </div>
            <h4>HUA ZHOU</h4>
            <h6>Principle AI Engineer</h6>
          </div>
          <div class="col-lg-3 my-5">
            <img src="{% static 'img/teams/t10.png' %}" class="img-fluid pb-2" />
            <div class="overlay">
              <p>
                Dr. Zhu has published more than 10 research papers on top AI
                conferences and journals. With extensive experiences in
                developing large scale distributed deep learning platform and
                conducting research in deep learning and computer vision. Dr.
                Zhu also has won numerous awards from world-class industrial and
                academic competitions, such as #3 ChaLearn Challenge in
                ICCV2015, #1 PaSC in BTAS2016, #8 in AI Challenger 2017 and #2
                LPIRC challenge in CVPR 2018.
              </p>
            </div>
            <h4>DR. YU ZHU</h4>
            <h6>Senior AI Engineer</h6>
          </div>
          <div class="col-lg-3 my-5">
            <img src="{% static 'img/teams/t11.png' %}" class="img-fluid pb-2" />
            <div class="overlay">
              <p>
                Dr. Xu, got her PhD degree in Electrical Engineering from
                University of Kentucky. She got her bachelor degree from
                University of Electronic Science and Technology of China,
                majoring in Communications Engineering. Her graduate research
                mainly focus on 2D/3D image manipulation and human motion
                capture for visual privacy protection. She had internship at
                Samsung Research American in US and Rakuten Inc. Dr. Xu, got her
                PhD degree in Electrical Engineering from University of
                Kentucky. She got her bachelor degree from University of
                Electronic Science and Technology of China, majoring in
                Communications Engineering. Her graduate research mainly focus
                on 2D/3D image manipulation and human motion capture for visual
                privacy protection. She had internship at Samsung Research
                American in US and Rakuten Inc.
              </p>
            </div>
            <h4>DR. WANXIN XU</h4>
            <h6>Senior AI Enginee</h6>
          </div>
          <div class="col-lg-3 my-5">
            <img src="{% static 'img/teams/t12.png' %}" class="img-fluid pb-2" />
            <div class="overlay">
              <p>
                Bachelor degree of computer Engineering from the University of
                California Irvine. During the university, he developed a
                communication system for intelligent search and rescue robots
                collaborative search, and won the third place in the school
                competition. He joined the team from the beginning. Currently,
                engaged in the development of the visual inspection project
                based on deep learning.
              </p>
            </div>
            <h4>HAORAN YU</h4>
            <h6>AI Engineer</h6>
          </div>
          <div class="col-lg-3 my-5">
            <img src="{% static 'img/teams/t13.png' %}" class="img-fluid pb-2" />
            <div class="overlay">
              <p>
                Master of Science in Electrical &amp; Computer Engineering in
                Boston University Bachelor of Engineering (Honors) in
                Electronic, Control and System Engineering in The University of
                Sheffield www.linkedin.com/in/zuhayr-raghib/ Master of Science
                in Electrical & Computer Engineering in Boston University
                Bachelor of Engineering (Honors) in Electronic, Control and
                System Engineering in The University of Sheffield
                www.linkedin.com/in/zuhayr-rag
              </p>
            </div>
            <h4>M. ZUHAYR RAGHIB</h4>
            <h6>AI Engineer</h6>
          </div>
          <div class="col-lg-3 my-5">
            <img src="{% static 'img/teams/t14.png' %}" class="img-fluid pb-2" />
            <div class="overlay">
              <p>
                Bachelor degree of Computer Engineering from Boston University.
                He took on a leadership role in Computer Vision team. He
                participated in projects like Watermark removal and pre and post
                image processing by using OpenCV. He also engaged the project of
                Object detection for medical parts by using deep learning.
              </p>
            </div>
            <h4>TIANCHENG LIU</h4>
            <h6>AI Engineer</h6>
          </div>
          <div class="col-lg-3 my-5">
            <img src="{% static 'img/teams/t15.png' %}" class="img-fluid pb-2" />
            <div class="overlay">
              <p>
                Master's degree of Electrical & Computer Engineering from the
                University of California, Los Angeles; and a Bachelor's degree
                of Electrical & Computer Engineering from the University of
                California, Santa Barbara. He had internships at GE lighting and
                Schneider Electric. He currently works on the software
                development of DApps.
              </p>
            </div>
            <h4>DUZHI CHEN</h4>
            <h6>Software Engineer</h6>
          </div>
          <div class="col-lg-3 my-5">
            <img src="{% static 'img/teams/t16.png' %}" class="img-fluid pb-2" />
            <h4>RAY HSIA</h4>
            <h6>AI Engineer</h6>
          </div>
          <div class="col-lg-3 my-5">
            <img src="{% static 'img/teams/t17.png' %}" class="img-fluid pb-2" />
            <h4>SHUNLIN YAO</h4>
            <h6>AI Engineer</h6>
          </div>
          <div class="col-lg-3 my-5">
            <img src="{% static 'img/teams/t18.png' %}" class="img-fluid pb-2" />
            <h4>KAIJUN JIA</h4>
            <h6>AI Engineer</h6>
          </div>
          <div class="col-lg-3 my-5">
            <img src="{% static 'img/teams/t19.png' %}" class="img-fluid pb-2" />
            <h4>QUANCONG WU</h4>
            <h6>AI Engineer</h6>
          </div>
          <div class="col-lg-3 my-5">
            <img src="{% static 'img/teams/t20.png' %}" class="img-fluid pb-2" />
            <h4>ZHENGMANG MA</h4>
            <h6>AI Engineer</h6>
          </div>
          <div class="col-lg-3 my-5">
            <img src="{% static 'img/teams/t21.png' %}" class="img-fluid pb-2" />
            <h4>ZIKUN QIAN</h4>
            <h6>AI Engineer</h6>
          </div>
          <div class="col-lg-3 my-5">
            <img src="{% static 'img/teams/t22.png' %}" class="img-fluid pb-2" />
            <h4>BONING ZHOU</h4>
            <h6>AI Engineer</h6>
          </div>
          <div class="col-lg-3 my-5">
            <img src="{% static 'img/teams/t23.png' %}" class="img-fluid pb-2" />
            <h4>GE ZHU</h4>
            <h6>AI Engineer</h6>
          </div>
          <div class="col-lg-3 my-5">
            <img src="{% static 'img/teams/t24.png' %}" class="img-fluid pb-2" />
            <h4>HANGSHI JIN</h4>
            <h6>AI Engineer</h6>
          </div>
          <div class="col-lg-3 my-5">
            <img src="{% static 'img/teams/t25.png' %}" class="img-fluid pb-2" />
            <h4>JING WANG</h4>
            <h6>Software Engineer</h6>
          </div>
          <div class="col-lg-3 my-5">
            <img src="{% static 'img/teams/t26.png' %}" class="img-fluid pb-2" />
            <h4>NINGTAO HU</h4>
            <h6>AI Engineer</h6>
          </div>
        </div>
      </div>
      <!-- Engineers -->
      <!-- Marketing & Community -->
      <div class="container text-center">
        <h1 class="display-4 text-lg-left">Marketing & Community</h1>
        <div class="row">
          <div class="col-lg-3 my-5">
            <img src="{% static 'img/teams/t27.png' %}" class="img-fluid pb-2" />
            <div class="overlay">
              <p>
                Rhyan has a background working in computer software and cutting
                edge electronics fields. As a tech entrepreneur, he founded
                startups including a Virtual Reality Gaming Centre and 3D
                Printing businesses in Australia. Joining DeepBrain Chain in
                early 2018, he has assisted and lead in the strategic direction
                of the company with a focus on business relations and investor
                communication. In depth experience within the blockchain
                industry will be fundamental in meeting and exceeding the goals
                of VisionX.
              </p>
            </div>
            <h4>RHYAN COOK</h4>
            <h6>Global Community & Market Development</h6>
          </div>
          <div class="col-lg-3 my-5">
            <img src="{% static 'img/teams/t28.png' %}" class="img-fluid pb-2" />
            <div class="overlay">
              <p>
                Tomasz has an experience in working on websites, creating
                marketing materials, videos and presenting. He has worked as
                consumer network builder for FM World, currently working
                hand-in-hand with customers of hospitality business. Studies
                Accounting and Finance. In project, he develops the Website and
                builds Investors relations on Telegram. Tomasz has an experience
                in working on websites, creating marketing materials, videos and
                presenting. He has worked as consumer network builder for FM
                World, currently working hand-in-hand with customers of
                hospitality business. Studies Accounting and Finance. In
                project, he develops the Website and builds Investors relations
                on Telegram.
              </p>
            </div>
            <h4>THOMAS ZIELINSKI</h4>
            <h6>Website Developer & Community Support</h6>
          </div>
          <div class="col-lg-3 my-5">
            <img src="{% static 'img/teams/t29.png' %}" class="img-fluid pb-2" />
            <div class="overlay">
              <p>
                Alex is a blockchain technology enthusiast who has various years
                of experience studying and analyzing online data which has given
                him extensive knowledge in social media management, web based
                advertising and content creation. As an active investor, Alex
                has spent the past couple of years studying blockchain and new
                emerging AI tech giving him a deeper understanding in how to
                bridge open source data collection and blockchain technology to
                further drive marketing efforts for the company. His versatility
                and knowledge in these fields allows him to bring brand
                awareness to VisionX on several social media platforms.
              </p>
            </div>
            <h4>ALEX VALENZUELA</h4>
            <h6>North America Marketing & Community Support</h6>
          </div>
          <div class="col-lg-3 my-5">
            <img src="{% static 'img/teams/t30.png' %}" class="img-fluid pb-2" />
            <div class="overlay">
              <p>
                John is currently working full time in an Automation role for in
                a multi-billion dollar Pharmaceutical company while also being a
                full time blockchain enthusiast. He has a very strong background
                in I.T with more than 10 years’ experience and passion for
                Artificial Intelligence.
              </p>
            </div>
            <h5>JOHN MCCARTHY</h5>
            <h6>Community Support</h6>
          </div>
          <div class="col-lg-3 my-5">
            <img src="{% static 'img/teams/t31.png' %}" class="img-fluid pb-2" />
            <div class="overlay">
              <p>
                A visionairy entrepeneur and early adaptor of blockchain
                technology. With an extensicve background as a market researcher
                and analist in the oil,energy and financial sector. Possessing a
                vast experience in blockchain solutions and understanding of
                market fundamentals. Holding degrees in marketing &
                communication, psychology and data analysis.
              </p>
            </div>
            <h5>EMIEL DE BARBANSON</h5>
            <h6>Marketing Analyst</h6>
          </div>
          <div class="col-lg-3 my-5">
            <img src="{% static 'img/teams/t32.png' %}" class="img-fluid pb-2" />
            <div class="overlay">
              <p>
                Undergraduate study at the Nanjing Institute of Technology (now
                Southeast University) automatic control department, after
                graduation, stayed in school as a counselor. After that, he went
                to Belgium to study in the Department of Electronic Engineering
                of the famous Leuven University in Europe and obtained a
                master's degree. After joining the United States, he joined the
                world-famous semiconductor company Micron as a chip electronic
                analysis engineer. After coming to the Bay Area in 2010, he
                participated in many major social activities in the Bay Area. He
                served as the president of the Dongdawan District Alumni
                Association and is currently the President of the Nanjing
                Association of Towns and the Nanjing Chamber of Commerce.
              </p>
            </div>
            <h4>YINZHE CHEN</h4>
            <h6>Community Development in West USA</h6>
          </div>
        </div>
      </div>
      <!-- //Marketing & Community -->
    </section>
    <!-- //teams -->

    <!-- footer -->
    <footer class="newsletter_right pymd-5 py-4" id="footer">
      <div class="container">
        <div class="inner-sec py-md-5 py-3">
          <div class="row mb-md-4 mb-md-3">
            <div class="col-lg-3 col-md-6 social-info text-left">
              <h3 class="tittle1 foot mb-md-5 mb-4 text-white">
                Get in touch
              </h3>
              <p>250 W Tasman Dr</p>
              <p class="my-2">San Jose, CA 95134</p>
              <p class="phone">phone: +1 408-418-6388</p>
              <p class="phone my-2">Fax: +1775 240 9793</p>
              <p class="phone">
                Mail:
                <a href="support@visionx.org">support@visionx.org</a>
              </p>
            </div>
            <div class="col-lg-3 col-md-6 social-info text-left">
              <h3 class="tittle1 foot mb-md-5 mb-4 text-white">About Us</h3>
              <p>
                VisionX is a cross-industry high-performance AI collaboration
                platform.
              </p>
              <p>
                A sustainable, blockchain based incentive ecosystem to boost the
                best AI solutions & datasets across each industry AND for each
                customer.
              </p>
            </div>
            <div class="col-lg-6 col-md-12 n-right tex-left">
              <h3 class="tittle1 foot mb-md-5 mb-4 text-white">
                Join Us Now!
              </h3>
              <p>
                We are active on Twitter, Telegram, Medium, Reddit, YouTube,
                Instagram, Facebook, LinkedIn, GitHub and Coinmarketcap.
              </p>
              <div class="social-footer">
                <a
                  href="https://twitter.com/visionxglobal"
                  class="fab fa-twitter"
                ></a>
                <a
                  href="https://t.me/VisionXGlobal"
                  class="fab fa-telegram"
                ></a>
                <a
                  href="https://medium.com/@VisionXGlobal"
                  class="fab fa-medium"
                ></a>
                <a
                  href="https://www.reddit.com/r/visionx"
                  class="fab fa-reddit"
                ></a>
                <a
                  href="https://www.youtube.com/channel/UCj0vzmPUv_UF0kO33sZIzvQ"
                  class="fab fa-youtube"
                ></a>
                <a
                  href="https://www.instagram.com/visionx.global/"
                  class="fab fa-instagram"
                ></a>
                <a
                  href="https://www.facebook.com/officialvisionxglobal/"
                  class="fab fa-facebook"
                ></a>
                <a
                  href="https://www.linkedin.com/company/visionxglobal/"
                  class="fab fa-linkedin"
                ></a>
                <a
                  href="https://github.com/DeepBrainChain/DBC-FederatedLearning-Client-VNX"
                  class="fab fa-github"
                ></a>
                <a
                  href="https://coinmarketcap.com/currencies/visionx/"
                  class="fas fa-coins"
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- //footer -->

    <div class="copyright py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <p class="copy-right mt-2">
              Copyright © 2020 VisionX Corporation
            </p>
          </div>
          <div class="col-md-4">
            <p>Powered by VisionX Corporation</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>

    <!-- self defined scripts -->
    <script src="js/animation.js"></script>
    <script src="js/jquery-2.1.1.js"></script>
    <script src="js/preLoader.js"></script>
    <script src="js/translate.js"></script>
  </body>
</html>
